<link rel="stylesheet" type="text/css" href="~/css/rompeCabezas.css">
<div class="container-puzzle">
    <div id="puzzle"></div>
    <div id="piezas"></div>
</div>
<h1 id="mensaje">¡Ganaste!</h1>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/rompeCabezas.js"></script>